/************************************************/
/* Elements                                     */
/************************************************/
html, body {

	}
.orange { color: #E0692A; }

body {
	background-color: #ffffff;
	margin: 0px;
	padding: 0px;
	font-size: 9pt;
	font-family: Arial, Verdana, sans-serif;
	font-weight: normal;
	margin:0px 10px 0px 10px;
	
	}
	
th {
	background-color: #8E8E98;
	color: #ffffff;
	font-size: 9pt;
	font-family: Arial, Verdana, sans-serif;
	font-weight: normal;
	}

td {
	font-size: 9pt;
	font-family: Arial, Verdana, sans-serif;
	font-weight: normal;
	}
	
/*a:link {
	color: blue; text-decoration: underline;
	}

a:visited {
	color: blue; text-decoration: underline;
	}

a:hover {
	color: red; text-decoration: underline;
	}*/
a {
	color: #666666;
}

a:hover {
	text-decoration: none;
	color: #000000;
}
	
caption {
	background-color: #9fafc8;
	color: #ffffff;
	font-size: 9pt;
	font-family: Arial, Verdana, sans-serif;
	font-weight: bold;
	}


/************************************************/
/* Help Page Elements							*/
/************************************************/
.raHelpBody {
	height: 100%;
	width: 100%;
	background-color: #eeeeee;
	border: 1px solid #52779D
	}

.raHelpContent {
	margin: 5px;
	text-align: left;
	overflow: auto;
	}

/************************************************/
/* Header										*/
/************************************************/
#raHeader {
	margin-bottom: 0px;
	width: 100%;
	border: none;
	}
	
#RAtitlebar {
	background-image: url(images/RAapp_titlebar_bg.gif);
	background-repeat: repeat-x;
	background-color: #fff;
	width: 100%;
	color: #000000;
	height: 38px;
	}
	
#RAtitlebar h1 {
	font-size: 14pt !important;
	font-weight: bold;
	padding: 5px 0 0 25px;
	margin: 0;
	float: left;
	}
	
#RAtitlebar span.brand {
	float:right;
	}
/* So the overflow scrolls */
.container {overflow:auto;}

/* Keep the header cells positioned as we scroll */
.container table th {position:relative;}

/* For alignment of the scroll bar */
.container table tbody {overflow-x:hidden;} 

/************************************************/
/* Meta Info	                                */
/************************************************/
#raMetaInfo {
	width: 100%;
	color: #999999;
	margin-bottom: 3px;
	border: none;
	}


/************************************************/
/* Message										*/
/************************************************/
.raMessage h5 {
	margin: 0 0 0 10px;
	padding: 0;
	font-weight: bold;
	}

.raMessage {
	background-color: #ffffce;
	font-weight: normal;
	border: 1px solid #777777;
	margin-bottom: 6px;
	}


/************************************************/
/* Panel	 									*/
/************************************************/
.raPanel 
{
	/*background-color: #eeeeee;
	border: 1px solid #52779d;
	padding-left:5px;
	padding-right:5px;*/

    padding: 9px;
    background-color:#F7F7F7;
	border: 1px solid #648952;
	}
	.container
{
	/*background-color: #eeeeee;
	border: 1px solid #52779d;
	padding-left:5px;
	padding-right:5px;*/
 overflow:auto;
    padding: 9px;
    background-color:#F7F7F7;
	border: 1px solid #648952;
	}


/* Keep the header cells positioned as we scroll */
.container table th {position:relative;}

/* For alignment of the scroll bar */
.container table tbody {overflow-x:hidden;} 
.raPanelHeader 
{
	color:Black;
		background: #FAFAFA url(images/img04.gif) repeat-x;
	/*background: url(images/RAselect_titlebar_bg.gif) repeat-x;*/
	border-left: 1px solid #52779d;
	border-right:1px solid #52779d;
	border-top:1px solid #52779d;	
	text-align: center;
	}

.raPanelHeader td {
	font-weight: bold;
	padding-top: 2px;
	}

.raPanelHeader img {
	cursor: hand;
	}
	
	
	.raPanel2 
{
	background-color: #eeeeee;
	border: 1px solid #52779d;
	padding-left:5px;
	padding-right:5px;
	}

.raPanelHeader2 
{
	color:Black;
	background: url(images/RAselect_titlebar_bg.gif) repeat-x;
	border-left: 1px solid #52779d;
	border-right:1px solid #52779d;
	border-top:1px solid #52779d;	
	text-align: center;
	}

.raPanelHeader2 td {
	font-weight: bold;
	padding-top: 2px;
	}

.raPanelHeader2 img {
	cursor: hand;
	}

.raSelectPanelContent 
{
	margin-left: 4px;
	border-collapse: collapse;
	}



/************************************************/
/* Button										*/
/************************************************/
.raButtonContainer {
	width: 100%;
	border-collapse: collapse;
	}
	
.raButtonSpacing {
	padding-left: 10px;
	}

.raFont, .raButton, .raButtonoff, .raButtonLg, .raButtonLgoff,
.raButtonNormal, .raButtonDefault, .raButtonHover, .raButtonFocus, .raButtonPressed, .raButtonDisabled {
	color: #ffffff;
	font-size: 8pt !important;
	border-style: none;
	text-align: center;
	cursor: hand;
	}

.raButtonNormal, .raButtonDefault, .raButtonHover, .raButtonFocus, .raButtonPressed, .raButtonDisabled {
	height: 20px;
	width: 90px;
	}

.raButton {
	float:left;
	width: 70px;
	height: 19px;
	padding: 0;
	border: 1px solid #464646;
	background: #FAFAFA url(images/img05.gif) repeat-x;
	font: normal x-small Verdana, Arial, Helvetica, sans-serif;
	color: #464646;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 5px;
}
	.raButtonWide {
	float:left;
	width: 125px;
	height: 18px;
	margin: 0 0 5px 0;
	padding: 0;
	border: 1px solid #464646;
	background: #FAFAFA url(images/img05.gif) repeat-x;
	font: normal x-small Verdana, Arial, Helvetica, sans-serif;
	color: #464646;
	}

.raButtonoff {
	cursor: default;
	background: url(images/raBtnBkgd_off.gif) no-repeat top right;
	}

.raButtonLg {
	background: url(images/raBtnBkgd_Lg_on.gif) no-repeat top right;
	}

.raButtonLgoff {
	cursor: default;
	background: url(images/raBtnBkgd_Lg_off.gif) no-repeat top right;
	}

.raButtonHover {
	background: url(images/raBtnBkgd_hover_small.png) no-repeat top right;
	}

.raButtonFocus {
	background: url(images/raBtnBkgd_focus_small.png) no-repeat top right;
	}

.raButtonPressed {
	background: url(images/raBtnBkgd_pressed_small.png) no-repeat top right;
	}

.raButtonNormal {
	background: url(images/raBtnBkgd_normal_small.png) no-repeat top right;
	}

.raButtonDefault {
	background: url(images/raBtnBkgd_default_small.png) no-repeat top right;
	}

.raButtonDisabled {
	cursor: default;
	background: url(images/raBtnBkgd_disabled_small.png) no-repeat top right;
	}
/******************junk*/


/************************************************/	
/* Text Boxes                                   */
/************************************************/
.raImageButton {
	 cursor: hand;
	 filter: progid:DXImageTransform.Microsoft.BasicImage(grayScale=0), progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	}

.raImageButtonDisabled {
	 cursor: default;
	 filter: progid:DXImageTransform.Microsoft.BasicImage(grayScale=1), progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
	}


/************************************************/	
/* Text Boxes                                   */
/************************************************/
.raTextBox, .raTextBoxRight, .raDisabledTextBox, .raDisabledTextBoxRight {
	border: solid 2px #8e8e98;
	font-size: 8pt !important;
	background-color: #ffffff;
	height: 15px;
	}
.tmTextBox, .tmTextBoxRight, .tmDisabledTextBox, .tmDisabledTextBoxRight
{
    border: solid 2px #8e8e98;
	font-size: 8pt !important;
	background-color: #ffffff;
	height: 15px;
    text-align:center;
}

.fixedLabel
{
    font-size: 8pt !important;
    font-weight:bold;
}

.raTextBox, .raDisabledTextBox {
	padding-left: 2px;
	}
	
.raTextBoxRight, .raDisabledTextBoxRight {
	text-align: right;
	padding-right: 2px;
	}

.raDisabledTextBox, .raDisabledTextBoxRight {
	background-color: #ffffff;
	}


/************************************************/	
/* List Boxes                                   */
/************************************************/
.raDropDownList, .raDisabledDropDownList {
	/*background-color: #ffffff;
	font-size: 8pt !important;
	height: 20px;*/
	color:Black;
		border: solid 2px #8e8e98;
	font-size: 8pt !important;
	background-color: #ffffff;
	height: 20px;

	}	

.raDisabledDropDownList {
	background-color: #ffffff;
	}

.raListBox {
	border: solid 1px #ffffff;		
	padding: 1px;
	font-size: 8pt !important;
	background-color: transparent;
	}	


/************************************************/	
/* Labels                                       */
/************************************************/
.raLabel {
	font-size: xx-small !important;
	color: #000;
	}
.raLabel.hover {
	font-size: xx-small !important;
	color: #000;
	text-decoration:underline;
	}
td 
{
    font-size:x-small !important;
	color: #000;
}

.raLabelBold {
	font-size: 8pt !important;
	font-weight: bold;
	}

.raLabelData, .raLabelDataRight { 
	border: solid 1px #454d66;
	font-size: 8pt !important;
	padding: 2px 2px 0px 3px;
	background-color: #e9e9e9;
	height: 20px;
	}

.raLabelDataRight {
	text-align: right;
	}
th
{
    color:Black;
}

/************************************************/	
/* Other Classes                                */
/************************************************/
.raSeparatorLine {
	border-top: #9b9a9f 1px solid;
	border-collapse: collapse;	
	margin: 4px;
	padding-top: 5px;
	width: 100%;
	}

.raCheckBox {
	font-size: 8pt !important;
	}

.raRadioButton {
	font-size: 8pt !important;
	}

.raRequiredInd {
	font-size: 16pt !important;
	color: Red;
	text-align: left;
	}

.raFieldInError {
	border-color: Red;
	}

.raTreeView{
	font-size: 8pt !important;
	}


/************************************************/
/* asp.net DataGrid								*/
/************************************************/
.raDataGrid {
	background-color: #ffffff; 
	font-size: 8pt !important;
	text-align: left; 
	text-transform: capitalize;
	margin: 1px;
	border-width: 0px;

}
.ihDataGrid2
{
   background-color: #ffffff; 
	font-size: 8pt !important;
	text-align: left; 
	text-transform: capitalize;
	margin: 1px;
	border-width: 0px;
}

.ihDataGrid2 td
{
  	padding-right: 4px;
	padding-left: 4px;  
}
Table.ihDataGrid2 td	{
	border: 1px solid #c0c0c0;
	padding-right: 2px;
	padding-left: 2px;
	margin: 0px;
	}
	

.raDataGrid td
{
  	padding-right: 4px;
	padding-left: 4px;  
}
Table.raDataGrid td	{
	border: 1px solid #c0c0c0;
	padding-right: 2px;
	padding-left: 2px;
	margin: 0px;
	}
Table.raDataGrid th
{
    border: 1px solid #c0c0c0;
}

.raDataGridHeader {
    padding-right: 5px;
	padding-left: 5px;
	color: #000000; 
	text-align: center;
	background: url(images/header1stCell_bg.gif);
	border: 1px solid #c0c0c0;
	}

.raDataGridHeader a{color: black; text-decoration: none;}
.raDataGridHeader a:visited{color: black; text-decoration: none;}
.raDataGridHeader a:hover{color: black; text-decoration: none;}

.raFixedDataGridHeader {
	position: relative; 
	top: expression(this.offsetParent.scrollTop - this.parentNode.parentNode.parentNode.offsetTop);	
	color: #000000;
	text-align: center;
	background: url(/images/grid/header1stCell_bg.gif);
	}

.raFixedDataGridHeader a{color: black; text-decoration: none;}
.raFixedDataGridHeader a:visited{color: black; text-decoration: none;}
.raFixedDataGridHeader a:hover{color: black; text-decoration: none;}

.raDataGridFooter {
	position:relative;
	top: 0;
	color: #000000; 
	background: url(images/header1stCell_bg.gif);
	}

.raFixedDataGridFooter {
	position:relative; 
	top: expression(Math.min(this.offsetParent.clientHeight + this.offsetParent.scrollTop - this.parentElement.offsetHeight -1)); 
	color: #000000; 
	background: url(images/header1stCell_bg.gif);
	}

.altRow {
	background-color:#f5f5f5;
	}

.selectedRow {
	background-color:#ffeec2;
	}


/************************************************/
/* Element IDs                                  */
/************************************************/
#raContent {
	left: 1%; 
	position: relative;
	width: 98%;
	}

#raActivity {
	text-align: center;
	border-style: none;
	position: relative;
	display: none;
	height: 45; 
	width: 100%; 
}




.loading
{
   position:absolute;
   left:45%;
   top:40%;
   text-align:center;
   z-index:20001;
}

.watermark
{
    border: solid 2px #8e8e98;
	font-size: 8pt !important;
	background-color: #ffffff;
	height: 15px;
    color:Gray;
    font-style:italic;
}
.view
{
    padding-left:50px;
}